body, html { 
    font-family: Arial, sans-serif; margin: 20px; 
    background-color: ivory;
    margin: 0;
    padding: 0;

}

#results { 
    margin-top: 20px; 
}

.book { 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin: 10px 0; 
    display: flex; 
    gap: 10px; 
}

img { 
    height: 100px; 
}

.chat-element {
    border-style: solid; 
    border-width: 2px; 
    border-color: black; 
    border-radius: 0%;
    margin-left: 0; 
    margin-right: 0;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5px;
}
.gemini-tekst-bokser {
    display: flex;
    justify-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.chatbox {
    border:1px solid #ccc; 
    padding:10px; 
    width: 70%;
    min-width: 30%;
    min-height:200px;
    display: flex; 
    align-items: center; 
    flex-direction: column;
    background-color: white;
}

.navbar {
    background-color: #452829;
    height: 4.7rem;
    display: flex;
    justify-content: left;
    align-items: top;
    padding: 0;
    margin: 0;
}
.navbar a {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: ivory;    
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 2rem;
    border: 2px solid transparent;
    transition: color 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.navbar img {
    width: 100px;
    height: 100px;
}
.navbar a:hover {
    color: #aee5ff;   
    border-radius: 5px;
    text-decoration: underline;
}
.navbar a.active {
    color: #aee5ff;
    border-radius: 5px;
}