body { 
    font-family: Arial, sans-serif; margin: 20px; 
    background-color: ivory;
}

#results { 
    margin-top: 20px; 
}

.book { 
    border: 1px solid #ccc; 
    padding: 10px; 
    margin: 10px 0; 
    display: flex; 
    gap: 10px; 
}

img { 
    height: 100px; 
}

.chat-element {
    border-style: solid; 
    border-width: 2px; 
    border-color: black; 
    border-radius: 0%;
    margin-left: 0; 
    margin-right: 0;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5px;
}
.gemini-tekst-bokser {
    display: flex;
    justify-items: space-around;
    flex-direction: row;
    width: 90%;
}

.chatbox {
    border:1px solid #ccc; 
    padding:10px; 
    width: 70%;
    min-width: 30%;
    min-height:200px;
    display: flex; 
    align-items: center; 
    flex-direction: column;
    background-color: white;
}